@import "preset";

$headerHeight: 10rem;

main {
  width: 100%;
  background-color: red;
  min-height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: $headerHeight 0 0 0;

  header {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: blue;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    article {
      background-color: green;
      width: 90%;
      max-width: 100rem;
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  footer {
    width: 100%;
    background-color: orange;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
